<a href="https://colab.research.google.com/github/410568108/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d=range(3,8,2)
print(list(d))

[3, 5, 7]

In [ ]:
e=range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [ ]:
f=range(0,9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g=range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i=range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,12,2):
  print(n,end=",")

0,2,4,6,8,10,

In [ ]:
for n in range(6):
  print(n,end="")

012345

In [ ]:
for n in range(13):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,

In [ ]:
sum=0
for n in range(10,1,-2):
  sum = sum+n
print(sum)

30

In [2]:
sum=0
t=int(input("請輸入一個正整數"))
for n in range(1,t+1):
  sum = sum+n
print("1到",t,"的整數和為",sum)

請輸入一個正整數10
1到 10 的整數和為 55

In [1]:
sum=0
t=int(input("請輸入一個正整數"))
for n in range(1,t+1):
  sum = sum+n
print("1到",t,"的整數和為",sum)

請輸入一個正整數50
1到 50 的整數和為 1275

In [3]:
um=0
t=int(input("請輸入一個正整數"))
for m in range(1,t+1):
  sum = sum+m
  print("1到",str(m),"的整數和為",sum)

請輸入一個正整數50
1到 1 的整數和為 56
1到 2 的整數和為 58
1到 3 的整數和為 61
1到 4 的整數和為 65
1到 5 的整數和為 70
1到 6 的整數和為 76
1到 7 的整數和為 83
1到 8 的整數和為 91
1到 9 的整數和為 100
1到 10 的整數和為 110
1到 11 的整數和為 121
1到 12 的整數和為 133
1到 13 的整數和為 146
1到 14 的整數和為 160
1到 15 的整數和為 175
1到 16 的整數和為 191
1到 17 的整數和為 208
1到 18 的整數和為 226
1到 19 的整數和為 245
1到 20 的整數和為 265
1到 21 的整數和為 286
1到 22 的整數和為 308
1到 23 的整數和為 331
1到 24 的整數和為 355
1到 25 的整數和為 380
1到 26 的整數和為 406
1到 27 的整數和為 433
1到 28 的整數和為 461
1到 29 的整數和為 490
1到 30 的整數和為 520
1到 31 的整數和為 551
1到 32 的整數和為 583
1到 33 的整數和為 616
1到 34 的整數和為 650
1到 35 的整數和為 685
1到 36 的整數和為 721
1到 37 的整數和為 758
1到 38 的整數和為 796
1到 39 的整數和為 835
1到 40 的整數和為 875
1到 41 的整數和為 916
1到 42 的整數和為 958
1到 43 的整數和為 1001
1到 44 的整數和為 1045
1到 45 的整數和為 1090
1到 46 的整數和為 1136
1到 47 的整數和為 1183
1到 48 的整數和為 1231
1到 49 的整數和為 1280
1到 50 的整數和為 1330